apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 65.0.0
    helm:
      releaseName: monitoring
      skipCrds: true   # <-- Important: ensure CRDs are installed
      values: |
        grafana:
          adminUser: admin
          adminPassword: admin
          service:
            type: NodePort

        prometheus:
          enabled: true
          service:
            type: NodePort
          prometheusSpec:
            serviceMonitorSelectorNilUsesHelmValues: false
            retention: 7d
            scrapeInterval: 30s
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
